<footer class="bg-dark-pink text-white pt-4 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <a class="navbar-brand" href="index.html"><img src="/images/logo.png"></a>
          <p>Your premier destination for high-quality video content across all genres.</p>
        </div>
        <div class="col-md-2 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="index.html" class="text-light-pink">Home</a></li>
            <li><a href="videos.html" class="text-light-pink">Videos</a></li>
            <li><a href="categories.html" class="text-light-pink">Categories</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-3">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="privacy.html" class="text-light-pink">Privacy Policy</a></li>
            <li><a href="terms.html" class="text-light-pink">Terms & Conditions</a></li>
            <li><a href="sitemap.html" class="text-light-pink">Sitemap</a></li>
            <li><a href="dmca.html" class="text-light-pink">DMCA Policy</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3">
          <h5>Subscribe</h5>
          <p>Stay updated with our latest videos</p>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Your email">
            <button class="btn btn-light-pink" type="button">Subscribe</button>
          </div>
        </div>
      </div>
      <hr class="my-2 bg-light-pink">
      <div class="text-center">
        <p class="mb-0">&copy; 2025 XXXPorn Monster. All rights reserved.</p>
      </div>
    </div>
  </footer>