<nav class="navbar navbar-expand-lg navbar-dark text-white bg-dark-pink fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" title="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=anal">Anal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=big-tits">Big Tits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=ebony">Ebony</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=japanese">Japanese</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=lesbian">Lesbian</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=mature">Mature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=milf">Milf</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=old-young">Old & Young</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html?cat=teen">Teen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="videos.html">All Videos</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>